extends layout

block contenido
  #contenido
      div(id='cabezera', class='col-md-12')
        h1 Sistema de consultas
      div(id='izquierda', class='col-md-6')
        div(id='panel1', class='col-md-8 col-md-offset-1 well')
          p Propiedad 1
        div(id='panel2', class='col-md-8 col-md-offset-1 well')
          p Propiedad 2
        div(id='panel3', class='col-md-8 col-md-offset-1 well')
          p Propiedad 3
        div(id='panel4', class='col-md-8 col-md-offset-1 well')
            p Propiedad 4
      div(id='derecha', class='col-md-6')
          div(id='login', class='col-md-6 col-md-offset-3 well')
            p Iniciar sesion
          div(id='registro', class='col-md-6 col-md-offset-3 well')
              p Registrate

