doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/morris.css')
    link(rel='stylesheet', href='/stylesheets/sb-admin.css')
    link(rel='stylesheet', href='/stylesheets/social-buttons.css')
    link(rel='stylesheet', href='/stylesheets/timeline.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block contenido